<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:property.properties"/>
    <bean id="keyStorage" class="Security.KeyStorage">
        <property name="json_key" value="${json_key}"/>
        <property name="pass_key" value="${pass_key}"/>
    </bean>
    <bean name="storage" class="Security.Storage">
        <property name="storage" ref="keyStorage"/>
        <property name="algorithm_cipher" value="${cipher}"/>
        <property name="algorithm" value="${algorithm}"/>
    </bean>
    <bean name="encrypt" class="Security.Encrypt">
        <property name="storage" ref="storage"/>
    </bean>
    <bean name="decrypt" class="Security.Decrypt">
        <property name="storage" ref="storage"/>
    </bean>

<!--    <bean name="settings" class="ObjectData.Settings">-->
<!--        <constructor-arg name="language" value="${language}"/>-->
<!--        <constructor-arg name="login" value="${login}"/>-->
<!--        <constructor-arg name="password" value="${password}"/>-->
<!--    </bean>-->


</beans>