.button , .choice-box{
    -fx-background-radius: 15px;
    -fx-background-color: rgba(49, 69, 116, 0.2);
    -fx-border-color: rgba(255,255,255,0.2);
    -fx-border-style: solid;
    -fx-background-radius: 7em;
    -fx-border-radius: 7em;
}